<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Sobre nós</title>
    <link rel="shortcut icon" type="imagem/x-icon" href="../../assets/favicon.ico" />
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="../../assets/logo3.png"/>
        </div>
        <div class="links">
            <a href="./home.html">home</a>
            <a href="./signup.html">sobre nós</a>
            <a href="./signup.html">não é cadastrado?</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="text">
            <h2>Sobre nós</h2>
            <p>Marcella Siqueira: Frontend</p>
            <p>Estudande de Ciência da Computação na UFCG, responsável pelo frontend desse projeto para a disciplina de Projeto de Software no 2019.1</p>
            <p>Giovana Oliveira: Backend</p>
            <p>Estudande de Ciência da Computação na UFCG, responsável pelo backend desse projeto para a disciplina de Projeto de Software no 2019.1</p>
        </div>

    </div>


</body>

</html>