<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="./style.css">
	<title>Cadastre-se</title>
	<link rel="shortcut icon" type="imagem/x-icon" href="../../assets/favicon.ico" />
</head>

<body>
	<form id="msform">
		<div class="login">
			<div>
				<img src="../../assets/logo2.jpg" class="logo1" />
			</div>
			<fieldset>
				<h2>Cadastre-se</h2>
				<input type="text" name="fname" placeholder="Nome" />
				<input type="text" name="lname" placeholder="Sobrenome" />
				<input type="text" name="email" placeholder="Email" />
				<input type="password" name="pass" placeholder="Senha" />
				<input type="password" name="cpass" placeholder="Confirme sua senha" />

				<input type="submit" name="submit" class="submit action-button" value="Criar conta" />
			</fieldset>

		</div>

	</form>



	<script type="text/javascript" src=""></script>

</body>

</html>