<div class="navbar">
    <div class="logo">
        <img src="../../assets/logo3.png" />
    </div>
    <div class="links">
        <a onclick="navigate()">home</a>
        <a onclick="navigate('about')">sobre nós</a>
        <a onclick="navigate('signup')">não é cadastrado?</a>
    </div>
</div>
<div class="wrapper">
    <div class="text">
        <h2>Sobre nós</h2>
        <p>Marcella Siqueira: Frontend</p>
        <p>Estudande de Ciência da Computação na UFCG, responsável pelo frontend desse projeto para a disciplina de
            Projeto de Software no 2019.1</p>
        <p>Giovana Oliveira: Backend</p>
        <p>Estudande de Ciência da Computação na UFCG, responsável pelo backend desse projeto para a disciplina de
            Projeto de Software no 2019.1</p>
    </div>

</div>