<div>
    <form id="msform" class="pesquisa">
        <fieldset>

            <input id="campo-disciplinas" type="text" placeholder="Disciplina" />
        
            <table class="a">
                <thead>
                    <tr>
                        <th>Disciplina</th>
                        <th>Likes</th>
                        <th>Comentários</th>
                    </tr>
                </thead>
                <tbody id="tabela-disciplinas"></tbody>
            </table>
        </fieldset>
    </form>

</div>