<div style="margin-top: 80px; margin-right: 80px">
    <form id="msform">
        <fieldset>
            <h1 id="nome-disciplina"></h1>
            <button type="button" name="submit" id="like" class="action-button">Eu curto essa disciplina!</button>

            <form action="/html/tags/html_form_tag_action.cfm" method="post">
                <div>
                    <textarea name="comments" id="comments"
                        placeholder="Minha opinião sobre essa disciplina é..."></textarea>
                </div>
                <input type="submit" value="Submit">
            </form>
        </fieldset>
    </form>
</div>