<div class="navbar">
    <div class="logo">
        <img src="../../assets/logo3.png" />
    </div>
    <div class="links">
        <a onclick="navigate()">home</a>
        <a onclick="navigate('about')">sobre nós</a>
        <a onclick="navigate('signup')">não é cadastrado?</a>
    </div>
</div>
<div class="wrapper">
    <div class="text">
        <h2>Classifica CC</h2>
        <p>Dúvidas sobre qual cadeira colocar no período seguinte? Quer dar sua opinião sobre alguma cadeira que
            pagou?
            Avaliá-la? E se você pudesse ver um ranking das disciplinas mais bem avaliadas, você se empolgaria mais
            em
            cursá-la? </p>
        <p>Todas essas perguntas estão reunidas aqui, no Classifica CC, onde você vai poder interagir sobre
            as disciplinas do curso de Ciência da Computação na UFCG. Vem com a gente!</p>
    </div>
    <form id="msform">
        <fieldset>
            <h2>Login</h2>
            <input type="text" name="fname" placeholder="Nome" required />
            <input type="text" name="lname" placeholder="Sobrenome" required />
            <input type="email" name="email" placeholder="Email" required />
            <input type="password" name="pass" placeholder="Senha" required />

            <input type="submit" name="submit" class="submit action-button" value="Entrar" />
        </fieldset>
    </form>

</div>