<form id="msform">
	<div class="signup">
		<div>
			<img src="../../assets/logo2.jpg" class="logo2" />
		</div>
		<fieldset>
			<h2>Cadastre-se</h2>
			<input type="text" name="fname" id="fname" placeholder="Nome" required />
			<input type="text" name="lname" id="lname" placeholder="Sobrenome" required />
			<input type="email" name="email" id="email" placeholder="Email" required />
			<input type="password" name="pass" id="pass" placeholder="Senha" required />
			<input type="password" name="cpass" id="cpass" placeholder="Confirme sua senha" required />

			<button type="button" name="submit" id="signup" class="action-button">Criar conta</button>
		</fieldset>

	</div>

</form>